@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lorimer_Black", sans-serif;
}

@layer utilities {
  .font-lorimer-black {
    font-family: "Lorimer_Black", sans-serif;
  }

  .font-lorimer-stencil {
    font-family: "Lorimer_Stencil", sans-serif;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}